#btn-mobile {
  display: none;
}

#btn-mobile {
  height: 30px;
  width: 30px;
}
/* #btn-mobile img {
  height: 30px;
  width: 30px;
} */

  #menu {
    display: flex;
  }

@media (max-width: 1200px) {

  #btn-mobile {
    display: block;
    padding: 10px 10px 10px 0px;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
  }
  
  #menu {
    display: none;
  }

  #nav.active #menu {
    display: flex;
  }

}